$mainColor: #F4E6DE;
$rareColor: #F2475F;
$mainTransition: 0.3s;
body {
	font-family: "Gilroy", sans-serif;
	font-style: normal;
	font-weight: normal;

	position: relative;
	padding-top: 118px;
	@media (max-width: 991px) {
		padding-top: 59px;
	}
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
	url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Regular.woff') format('woff'),
	url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
	url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Bold.woff') format('woff'),
	url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
	url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Black.woff') format('woff'),
	url('../fonts/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

.title-h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 62px;
	color: #2B2B2B;
	margin: 0px;
	@media (max-width: 991px) {
		font-size: 32px;
		line-height: 100%;
	}
}
.title-line {
	display: block;
	height: 3px;
	width: 53px;
	background: $rareColor;
}

.h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #000000;
	@media (max-width: 991px) {
		font-size: 24px;
		line-height: 100%;
	}
}
h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 100%;
	color: #000000;
}
p {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}

.mar-top {
	margin-top: -50px;
	@media (max-width: 991px) {
		margin-top: 0px;
	}
}
