.form-price-range {
	label {
		font-size: 14px;
		line-height: 100%;
		color: #000;
	}
	input {
		padding: 3px 5px;
		margin: 0px;
		width: 100px;
		border: 1px solid #5C5C5C;
		background: #fff;

		font-size: 14px;
		line-height: 100%;
		color: #000;
		&:focus {
			outline: none;
		}
	}
}

#price-range {
	margin: 0 20px;
	&.ui-widget.ui-widget-content {
		border: 0px;
		border-radius: 0px;
		height: 5px;
		background: #E5E5E5;
	}

	.ui-widget-header {
		background: $rareColor;
	}
	.ui-slider-handle {
		top: -0.2em;
		border: 1px solid $rareColor;
		background: #fff;
		border-radius: 100%;
		width: 12px;
		height: 12px;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}
}
.input_size {
	margin-bottom: 0px;
	input {
		display: none;
	}
	span {
		margin: 0px;
		transition: $mainTransition;
		cursor: pointer;

		padding: 5px 8px;
		display: inline-block;

		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: #000000;

			border: 1px solid #5C5C5C;
		background: #fff;
	}
	input:checked + span {
		transition: $mainTransition;
		background: #5C5C5C;
		color: #fff;
	}
}
.input_color {
	margin-bottom: 0px;
	input {
		display: none;
	}
	span {
		margin: 0px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		display: inline-block;

		border: 1px solid #D5D5D5;
		background: #fff;
		position: relative;
		transition: $mainTransition;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 15px;
			height: 15px;
			border-radius: 100%;
		}
		&.red {
			&:before {
				background-color: red;
			}
		}
		&.blue {
			&:before {
				background-color: blue;
			}
		}
	}
	input:checked + span {
		background: #2B2B2B;
		border: 1px solid #2B2B2B;
		transition: $mainTransition;
	}
}


.input_number {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border: 1px solid #d5d5da;

	width: 130px;
	span {
		width: 40px;
		height: 40px;

		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 18px;
		line-height: 100%;
		color: #999a9b;

		cursor: pointer;
	}
	input {

		display: block;
		width: calc(100% - 80px);
		height: 40px;
		padding: 0px;
		padding-left: 10px;
		border: 0px;
		border-radius: 0px;

		text-align: center;

		font-size: 14px;
		font-weight: 700;
		&:focus {
			outline: none;
		}
	}
	&.input_number-cart {
		border: 0px;
		width: 92px;
		input {
			width: calc(100% - 42px);
		}
		span {
			width: 21px;
			height: 21px;
			background: #67D7DF;
			border-radius: 100%;

			color: #000;
		}
	}
}

.cart__sub {
	.title_sub {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		margin-bottom: 36px;
		display: block;
	}
	input {
		border: 0px;
		padding: 9px 20px;
		background: #F4E6DE;
		border-radius: 10px;

		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		&::-moz-placeholder { color: #000000; }
		&::-webkit-input-placeholder { color: #000000; }
		&:-ms-input-placeholder { color: #000000; }
		&::-ms-input-placeholder { color: #000000; }
		&::placeholder { color: #000000; }
	}
	textarea {
		min-height: 150px;
		border: 0px;
		padding: 9px 20px;
		background: #F4E6DE;
		border-radius: 10px;

		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #000000;

		&::-moz-placeholder { color: #000000; }
		&::-webkit-input-placeholder { color: #000000; }
		&:-ms-input-placeholder { color: #000000; }
		&::-ms-input-placeholder { color: #000000; }
		&::placeholder { color: #000000; }
	}
	.cart__sub_final {
		background: #EFEFEF;
		padding: 16px 13px;
		span {
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #000000;
			margin: 0px;
		}
		.btn_cir {
			border-radius: 15px;
			font-size: 18px;
			line-height: 22px;
		}
	}
}

.input_circle {
	cursor: pointer;
	padding-left: 38px;
	input {
		display: none;
	}
	span {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #000000;

		position: relative;

		&:before {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			border: 1px solid #A3CFD2;

			position: absolute;
			z-index: 1;
			left: -38px;
			top: 0px;
		}
	}
	input:checked + span {
		&:after {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background: #A3CFD2;

			position: absolute;
			z-index: 2;
			left: -33px;
			top: 5px;
		}
	}
}
