.banner-area {
	background: linear-gradient(#fff 20% , #F4E6DE 20% );
	h2 {
		font-weight: bold;
		font-size: 64px;
		line-height: 62px;
		color: #000000;
		@media (max-width: 991px) {
			font-size: 34px;
			line-height: 100%;
			text-align: center;
		}
	}
	@media (max-width: 991px) {
		background: #F4E6DE;
	}
}
