.btn {
	padding: 10px 25px;
	background-color: $rareColor;

	font-weight: bold;
	font-size: 24px;
	line-height: 100%;
	color: #FFFFFF;
	transition: $mainTransition;
	border-radius: 0px;
	&.btn_border {
		border-radius: 15px;
	}
	&:hover {
		background-color: #2b2b2b;
		color: #fff;
		transition: $mainTransition;
	}
	&.btn__one-click {
		border: 3px solid #67D7DF;
		background: #fff;
		color: #000;
		border-radius: 15px;
		&:hover {
			background: #67D7DF;
			color: #fff;
			transition: $mainTransition;
		}
	}
}
