.breadcrumb {
	padding: 20px 0 10px 0;
	margin: 0 15px 100px 15px;
	background: none;
	border-radius: 0px;
	border-bottom: 1px solid rgba(142, 142, 142, 0.46);
	.breadcrumb-item {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
		a {
			color: #5C5C5C;
			transition: $mainTransition;
			&:hover {
				text-decoration: none;
				color: $rareColor;
				transition: $mainTransition;
			}
		}
	}
	@media (max-width: 991px) {
		margin: 0px;
	}
	.breadcrumb-item+.breadcrumb-item::before {
		content: "\2192";
	}
}
