section(class="banner-area")
	div(class="container")
		div(class="row")
			div(class="col-12 col-lg-4  order-2 order-lg-1")
				img(class="lazyload" data-src="images/w.png" alt="img")
			div(class="col-12 col-lg-8 pb-5 pt-5 pt-lg-0 pb-lg-0 d-flex flex-column justify-content-end order-1 order-lg-2")
				div(class="pb-5 d-flex flex-column align-items-center d-lg-block")
					h2
						| Большая распродажа
					span(class="title-line mt-4 mb-5")
					a(class="btn" href="#")
						| В каталог
