section(class="blog-area")
	div(class="container")
		div(class="row")
			div(class="col-12 d-flex flex-column align-items-center pb-2")
				h2(class="text-center h2 m-0")
					| Последние записи блога
				span(class="title-line mt-4 mb-5")
			div(class="w-100")
				div(class="blog-slider")
					-for (var i = 0; i < 10; i++)
						div(class="blog-slider__item")
							div(class="blog-item")
								div(class="blog-item__preview")
									a(class="d-block" href='#')
										img(class="w-100" data-lazy="images/blog.jpg" alt="img")
								a(class="title" href="#")
									| Заголовок статьи
								span(class="date")
									| 02.09.2020
								p(class="description")
									| Равным образом дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. 
								
