section(class="catalog-area")
	div(class="container")
		div(class="row")
			div(class="col-12 col-lg-4 pb-5")
				span(class="subtitle")
					| сделано с любовью
				h2(class="title-h1")
					|Каталог<br>товаров
				span(class="title-line mt-4 mb-5")
				p(class="description")
					| Мы представляем большой каталог домашнего текстиля из натуральных материалов
			div(class="col-12 col-lg-4 pb-5")
				div(class="catalog-area__item")
					img(class="lazyload w-100 img-fluid" data-src="images/cat1.png" alt="img")
					div(class="catalog-area__title")
						| Постельное белье
					div(class="catalog-area__hidden")
						a(href="#" class="btn")
							| В каталог
			div(class="col-12 col-lg-4 pb-5")
				div(class="catalog-area__item")
					img(class="lazyload w-100 img-fluid" data-src="images/cat2.png" alt="img")
					div(class="catalog-area__title")
						| Пледы
					div(class="catalog-area__hidden")
						a(href="#" class="btn")
							| В каталог
			div(class="col-12 col-lg-4 pb-5")
				div(class="catalog-area__item")
					img(class="lazyload w-100 img-fluid" data-src="images/cat3.png" alt="img")
					div(class="catalog-area__title")
						| Одеяла
					div(class="catalog-area__hidden")
						a(href="#" class="btn")
							| В каталог
			div(class="col-12 col-lg-4 pb-5")
				div(class="catalog-area__item")
					img(class="lazyload w-100 img-fluid" data-src="images/cat4.png" alt="img")
					div(class="catalog-area__title")
						| Подушки
					div(class="catalog-area__hidden")
						a(href="#" class="btn")
							| В каталог
			div(class="col-12 col-lg-4 pb-5")
				div(class="catalog-area__item")
					img(class="lazyload w-100 img-fluid" data-src="images/cat5.png" alt="img")
					div(class="catalog-area__title")
						| Матрацы
					div(class="catalog-area__hidden")
						a(href="#" class="btn")
							| В каталог
