section(class="footer")
	div(class="container")
		div(class="row")
			div(class="col-12")
				div(class="footer__line")
	div(class="footer-topline")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-3 pb-5 pb-lg-0")
					a(href="#" class="logo mb-4")
						img(class="lazyload" data-src="images/logo.png" alt="logo")
					p
						| Продажа текситильных товаров для дома из натуральных материалов
					div(class="social social_footer")
						a(class="social__item" href="#")
							<svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12.145 15.5C15.617 15.5 14.379 13.302 14.647 12.67C14.643 12.198 14.639 11.744 14.655 11.468C14.875 11.53 15.394 11.793 16.466 12.835C18.121 14.505 18.544 15.5 19.881 15.5H22.342C23.122 15.5 23.528 15.177 23.731 14.906C23.927 14.644 24.119 14.184 23.909 13.468C23.36 11.744 20.158 8.767 19.959 8.453C19.989 8.395 20.037 8.318 20.062 8.278H20.06C20.692 7.443 23.104 3.829 23.459 2.383C23.46 2.381 23.461 2.378 23.461 2.375C23.653 1.715 23.477 1.287 23.295 1.045C23.021 0.683 22.585 0.5 21.996 0.5H19.535C18.711 0.5 18.086 0.915 17.77 1.672C17.241 3.017 15.755 5.783 14.641 6.762C14.607 5.375 14.63 4.316 14.648 3.529C14.684 1.994 14.8 0.5 13.207 0.5H9.339C8.341 0.5 7.386 1.59 8.42 2.884C9.324 4.018 8.745 4.65 8.94 7.796C8.18 6.981 6.828 4.78 5.872 1.967C5.604 1.206 5.198 0.501 4.055 0.501H1.594C0.596 0.501 0 1.045 0 1.956C0 4.002 4.529 15.5 12.145 15.5ZM4.055 2.001C4.272 2.001 4.294 2.001 4.455 2.458C5.434 5.341 7.63 9.607 9.234 9.607C10.439 9.607 10.439 8.372 10.439 7.907L10.438 4.205C10.372 2.98 9.926 2.37 9.633 2L13.141 2.004C13.143 2.021 13.121 6.099 13.151 7.087C13.151 8.49 14.265 9.294 16.004 7.534C17.839 5.463 19.108 2.367 19.159 2.241C19.234 2.061 19.299 2 19.535 2H21.996H22.006C22.005 2.003 22.005 2.006 22.004 2.009C21.779 3.059 19.558 6.405 18.815 7.444C18.803 7.46 18.792 7.477 18.781 7.494C18.454 8.028 18.188 8.618 18.826 9.448H18.827C18.885 9.518 19.036 9.682 19.256 9.91C19.94 10.616 22.286 13.03 22.494 13.99C22.356 14.012 22.206 13.996 19.881 14.001C19.386 14.001 18.999 13.261 17.522 11.771C16.194 10.479 15.332 9.951 14.547 9.951C13.023 9.951 13.134 11.188 13.148 12.684C13.153 14.306 13.143 13.793 13.154 13.895C13.065 13.93 12.81 14 12.145 14C5.8 14 1.668 3.929 1.509 2.004C1.564 1.999 2.321 2.002 4.055 2.001Z" fill="#8E8E8E"/>
							</svg>
						a(class="social__item" href="#")
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.75 24H19.25C21.869 24 24 21.869 24 19.25V4.75C24 2.131 21.869 0 19.25 0H4.75C2.131 0 0 2.131 0 4.75V19.25C0 21.869 2.131 24 4.75 24ZM1.5 4.75C1.5 2.958 2.958 1.5 4.75 1.5H19.25C21.042 1.5 22.5 2.958 22.5 4.75V19.25C22.5 21.042 21.042 22.5 19.25 22.5H4.75C2.958 22.5 1.5 21.042 1.5 19.25V4.75Z" fill="#8E8E8E"/>
								<path d="M12 18.1301C15.38 18.1301 18.13 15.3801 18.13 12.0001C18.13 8.62012 15.38 5.87012 12 5.87012C8.62 5.87012 5.87 8.62012 5.87 12.0001C5.87 15.3801 8.62 18.1301 12 18.1301ZM12 7.37012C14.553 7.37012 16.63 9.44712 16.63 12.0001C16.63 14.5531 14.553 16.6301 12 16.6301C9.447 16.6301 7.37 14.5531 7.37 12.0001C7.37 9.44712 9.447 7.37012 12 7.37012Z" fill="#8E8E8E"/>
								<path d="M18.358 7.36192C19.344 7.36192 20.087 6.62192 20.087 5.64092C20.087 4.61792 19.305 3.91992 18.359 3.91992C17.373 3.91992 16.63 4.65992 16.63 5.64092C16.63 6.66192 17.408 7.36192 18.358 7.36192ZM18.535 5.47592C18.851 5.75492 18.13 6.09392 18.13 5.64192C18.13 5.37192 18.497 5.44192 18.535 5.47592Z" fill="#8E8E8E"/>
							</svg>
				div(class="d-none d-lg-block col-12 col-lg-3 pb-5 pb-lg-0")
					span(class="title")
						| КАТАЛОГ
					ul
						- for (var i = 0; i < 6; i++)
							li
								a(href="#")
									| Постельное белье
				div(class="col-12 col-lg-3 pb-5 pb-lg-0")
					span(class="title")
						| ИФОРМАЦИЯ
					ul
						each val in ['о компании', 'доставка и оплата', 'Обмен и возврат', 'контакты']
							li
								a(href="#")
									= val
				div(class="col-12 col-lg-3 pb-5 pb-lg-0")
					span(class="title")
						| КОНТАКТЫ
					div(class="d-flex align-items-center mb-3")
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip10)">
								<path d="M12.7467 1.96767C10.1233 -0.65575 5.87702 -0.656032 3.25332 1.96767C0.629957 4.591 0.62955 8.83737 3.25332 11.4611L7.64526 15.853C7.84122 16.049 8.15888 16.0489 8.35481 15.853L12.7468 11.4611C15.3701 8.83775 15.3705 4.59141 12.7467 1.96767ZM12.0372 10.7516L8.00002 14.7887L3.96288 10.7516C1.7368 8.52548 1.7368 4.90334 3.96288 2.67726C6.18898 0.451219 9.811 0.451156 12.0372 2.67726C14.2632 4.9033 14.2632 8.52545 12.0372 10.7516Z" fill="black"/>
								<path d="M7.99991 3.71338C6.3414 3.71338 4.99902 5.05548 4.99902 6.71424C4.99902 8.37273 6.34118 9.71511 7.99991 9.71511C9.65845 9.71511 11.0008 8.37295 11.0008 6.71424C11.0008 5.05576 9.65867 3.71338 7.99991 3.71338ZM9.41229 8.12662C9.39306 8.12662 8.92014 8.71162 7.99991 8.71162C6.89599 8.71162 6.00251 7.8183 6.00251 6.71424C6.00251 5.61035 6.89586 4.71687 7.99991 4.71687C9.79317 4.71687 10.6551 6.88383 9.41229 8.12662Z" fill="black"/>
							</g>
							<defs>
								<clipPath id="clip10">
									<rect width="16" height="16" fill="white"/>
								</clipPath>
							</defs>
						</svg>
						span(class="d-block pl-2 info")
							| Челябинск, ул. Ленина 1а
					a(href="tel:88002000600" class="d-flex align-items-center mb-3 phone")
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip11)">
								<path d="M12.6086 0.467248L12.5917 0.44573C12.3069 0.159505 11.9196 -0.000994403 11.5158 4.63615e-06H4.47489C3.63812 0.00254066 2.96042 0.680235 2.95789 1.51701V14.4784C2.95708 14.8821 3.11754 15.2694 3.40361 15.5543C3.68846 15.8404 4.07578 16.0008 4.4795 16H11.5204C11.9239 16.0012 12.3112 15.8413 12.5963 15.5558C12.8824 15.271 13.0428 14.8837 13.042 14.4799V1.51854C13.0398 1.12508 12.8843 0.747978 12.6086 0.467248ZM12.4534 14.4784C12.4535 14.7258 12.3551 14.9631 12.1798 15.1378C12.0052 15.313 11.7678 15.4115 11.5204 15.4113H4.47489C4.22744 15.4115 3.99017 15.313 3.81553 15.1378C3.63981 14.9633 3.54083 14.726 3.54041 14.4784V1.51854C3.5421 1.00316 3.9595 0.585749 4.47489 0.584058H11.5204C11.768 0.584481 12.0053 0.683463 12.1798 0.859179L12.1936 0.871474C12.3614 1.04508 12.4551 1.27712 12.4549 1.51854L12.4534 14.4784Z" fill="black"/>
								<path d="M7.99778 14.967C8.22442 14.967 8.40815 14.7833 8.40815 14.5566C8.40815 14.33 8.22442 14.1462 7.99778 14.1462C7.77113 14.1462 7.5874 14.33 7.5874 14.5566C7.5874 14.7833 7.77113 14.967 7.99778 14.967Z" fill="black"/>
								<path d="M11.7526 1.83042H11.7495C11.5098 1.58961 11.184 1.45413 10.8442 1.45386H5.15738C4.81809 1.45451 4.49302 1.59 4.25364 1.83042C4.01283 2.07015 3.87734 2.39591 3.87708 2.7357V12.3941C3.87734 12.7339 4.01283 13.0597 4.25364 13.2994C4.49337 13.5402 4.81913 13.6757 5.15892 13.676H10.8458C11.1773 13.6758 11.4958 13.5468 11.7341 13.3163L11.7526 13.2994C11.9934 13.0597 12.1289 12.7339 12.1291 12.3941V2.73416C12.1285 2.39491 11.993 2.0698 11.7526 1.83042ZM11.3361 12.8875L11.3238 12.9013C11.1942 13.025 11.0218 13.0938 10.8427 13.0934H5.15585C4.97072 13.0937 4.79312 13.0202 4.66247 12.889C4.53091 12.7585 4.45679 12.581 4.45652 12.3956V2.73416C4.45621 2.54904 4.52979 2.37144 4.66094 2.24079C4.79158 2.10965 4.96918 2.03607 5.15431 2.03637H10.8411C11.0263 2.03607 11.2039 2.10965 11.3345 2.24079C11.4657 2.37144 11.5392 2.54904 11.5389 2.73416L11.542 12.3941C11.5417 12.5794 11.4676 12.757 11.3361 12.8875Z" fill="black"/>
							</g>
							<defs>
								<clipPath id="clip11">
									<rect width="16" height="16" fill="white"/>
								</clipPath>
							</defs>
						</svg>
						span(class="d-block pl-2 info")
							| 8 800 2000 600
					a(href="mailto:info@mail.ru" class="d-flex align-items-center mailto")
						<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.1688 0.79248H1.83426C0.822471 0.79248 0 1.61495 0 2.62674V10.3735C0 11.3853 0.822471 12.2078 1.83426 12.2078H13.1657C14.1775 12.2078 15 11.3853 15 10.3735V2.62985C15.0031 1.61805 14.1806 0.79248 13.1688 0.79248ZM14.1651 10.3735C14.1651 10.9228 13.7182 11.3698 13.1688 11.3698H1.83426C1.28492 11.3698 0.837989 10.9228 0.837989 10.3735V2.62985C0.837989 2.0805 1.28492 1.63357 1.83426 1.63357H13.1657C13.7151 1.63357 14.162 2.0805 14.162 2.62985V10.3735H14.1651Z" fill="black"/>
							<path d="M9.45994 6.40371L13.1285 3.11383C13.2992 2.95864 13.3147 2.69483 13.1595 2.52103C13.0043 2.35032 12.7405 2.33481 12.5667 2.48999L7.50774 7.03065L6.52078 6.14921C6.51767 6.1461 6.51457 6.143 6.51457 6.1399C6.49284 6.11817 6.47112 6.09955 6.44629 6.08093L2.43015 2.48689C2.25634 2.3317 1.99253 2.34722 1.83735 2.52103C1.68217 2.69483 1.69768 2.95864 1.87149 3.11383L5.58347 6.43164L1.88701 9.89222C1.71941 10.0505 1.7101 10.3143 1.86839 10.485C1.95218 10.5719 2.06392 10.6185 2.17565 10.6185C2.27807 10.6185 2.38049 10.5812 2.46119 10.5067L6.21351 6.99651L7.23151 7.90588C7.31221 7.97726 7.41153 8.0114 7.51084 8.0114C7.61016 8.0114 7.71258 7.97416 7.79017 7.90278L8.83611 6.96547L12.5667 10.5099C12.6474 10.5874 12.7529 10.6247 12.8554 10.6247C12.9671 10.6247 13.0757 10.5812 13.1595 10.4943C13.3178 10.3267 13.3116 10.0598 13.144 9.90154L9.45994 6.40371Z" fill="black"/>
						</svg>
						span(class="d-block pl-2 info")
							| info@mail.ru
	div(class="footer-botline")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-6 pb-4 pb-lg-0 d-flex justify-content-center d-lg-block")
					a(href="#" class="link")
						| Политика конфиденциальности
				div(class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end")
					a(href="#" class="link")
						| Разработка сайта
						span
							| DEKSIS.RU
		
