header(class="header header_scroll")
	div(class="header-dekstop")
		div(class="header-topline d-none d-lg-block")
			div(class="container")
				div(class="row align-items-center")
					div(class="col-8")
						ul(class="d-flex align-items-center")
							each val, index in ['главная', 'каталог', 'о компании', 'доставка и оплата', 'контакты']
								li
									a(href="#" class="header-link")
										= val
					div(class="col-4 d-flex justify-content-end")
						a(href="tel:+78002000600" class="phone")
							b
								| +7 800 2000 600
		div(class="header-main")
			div(class="container-fluid")
				div(class="row align-items-center")
					div(class="d-block d-lg-none col-2")
						div(class="burger")
							span
							span
							span
					div(class="col-4 col-lg-2")
						a(href="#" class="logo")
							img(class="lazyload" data-src="images/logo.png" alt="logo")
					div(class="col-lg-7 d-none d-lg-flex align-items-center")
						div()
							each val, index in ['Постельное белье', 'Пледы', 'Одеяла', 'Подушки', 'Матрацы', 'Наматрасники', 'Детское']
								a(href="#" class="header-link")
									= val
					div(class="col-6 col-lg-3 d-flex justify-content-end align-items-end header-main__right")
						a(class="d-flex d-lg-none search mr-2" href="#")
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M5.52217 4.55148C5.23373 4.26281 4.76576 4.26281 4.47732 4.55148C3.40639 5.62242 2.88002 7.11429 3.03299 8.64484C3.07115 9.02613 3.39236 9.31035 3.76748 9.31035C3.79213 9.31035 3.81697 9.3091 3.84162 9.30664C4.24779 9.26601 4.54408 8.90367 4.50346 8.49777C4.39459 7.41007 4.76603 6.35246 5.52217 5.59628C5.81084 5.30789 5.81084 4.83988 5.52217 4.55148Z"/>
								<path d="M8.44828 0C3.78988 0 0 3.78988 0 8.44828C0 13.1067 3.78988 16.8966 8.44828 16.8966C13.1067 16.8966 16.8966 13.1067 16.8966 8.44828C16.8966 3.78988 13.1066 0 8.44828 0ZM8.44828 15.4187C4.60469 15.4187 1.47785 12.2919 1.47785 8.44828C1.47785 4.60469 4.60469 1.47785 8.44828 1.47785C12.2916 1.47785 15.4187 4.60469 15.4187 8.44828C15.4187 12.2919 12.2919 15.4187 8.44828 15.4187Z"/>
								<path d="M19.7835 18.7387L14.4141 13.3692C14.1254 13.0805 13.6579 13.0805 13.3692 13.3692C13.0805 13.6577 13.0805 14.1256 13.3692 14.4141L18.7387 19.7835C18.883 19.9278 19.0719 20 19.2611 20C19.4503 20 19.6392 19.9278 19.7835 19.7835C20.0722 19.4951 20.0722 19.0271 19.7835 18.7387Z"/>
							</svg>
						div(class=" d-none d-lg-flex search mr-5")
							div(class="search-btn")
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M5.52217 4.55148C5.23373 4.26281 4.76576 4.26281 4.47732 4.55148C3.40639 5.62242 2.88002 7.11429 3.03299 8.64484C3.07115 9.02613 3.39236 9.31035 3.76748 9.31035C3.79213 9.31035 3.81697 9.3091 3.84162 9.30664C4.24779 9.26601 4.54408 8.90367 4.50346 8.49777C4.39459 7.41007 4.76603 6.35246 5.52217 5.59628C5.81084 5.30789 5.81084 4.83988 5.52217 4.55148Z"/>
									<path d="M8.44828 0C3.78988 0 0 3.78988 0 8.44828C0 13.1067 3.78988 16.8966 8.44828 16.8966C13.1067 16.8966 16.8966 13.1067 16.8966 8.44828C16.8966 3.78988 13.1066 0 8.44828 0ZM8.44828 15.4187C4.60469 15.4187 1.47785 12.2919 1.47785 8.44828C1.47785 4.60469 4.60469 1.47785 8.44828 1.47785C12.2916 1.47785 15.4187 4.60469 15.4187 8.44828C15.4187 12.2919 12.2919 15.4187 8.44828 15.4187Z"/>
									<path d="M19.7835 18.7387L14.4141 13.3692C14.1254 13.0805 13.6579 13.0805 13.3692 13.3692C13.0805 13.6577 13.0805 14.1256 13.3692 14.4141L18.7387 19.7835C18.883 19.9278 19.0719 20 19.2611 20C19.4503 20 19.6392 19.9278 19.7835 19.7835C20.0722 19.4951 20.0722 19.0271 19.7835 18.7387Z"/>
								</svg>
							form(class="search-form" action="" nethod="")
								div(class="position-relative")
									input(class="text" placeholder="Поиск...")
									button(class="search-form__submit" type="submit")
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M5.52217 4.55148C5.23373 4.26281 4.76576 4.26281 4.47732 4.55148C3.40639 5.62242 2.88002 7.11429 3.03299 8.64484C3.07115 9.02613 3.39236 9.31035 3.76748 9.31035C3.79213 9.31035 3.81697 9.3091 3.84162 9.30664C4.24779 9.26601 4.54408 8.90367 4.50346 8.49777C4.39459 7.41007 4.76603 6.35246 5.52217 5.59628C5.81084 5.30789 5.81084 4.83988 5.52217 4.55148Z"/>
											<path d="M8.44828 0C3.78988 0 0 3.78988 0 8.44828C0 13.1067 3.78988 16.8966 8.44828 16.8966C13.1067 16.8966 16.8966 13.1067 16.8966 8.44828C16.8966 3.78988 13.1066 0 8.44828 0ZM8.44828 15.4187C4.60469 15.4187 1.47785 12.2919 1.47785 8.44828C1.47785 4.60469 4.60469 1.47785 8.44828 1.47785C12.2916 1.47785 15.4187 4.60469 15.4187 8.44828C15.4187 12.2919 12.2919 15.4187 8.44828 15.4187Z"/>
											<path d="M19.7835 18.7387L14.4141 13.3692C14.1254 13.0805 13.6579 13.0805 13.3692 13.3692C13.0805 13.6577 13.0805 14.1256 13.3692 14.4141L18.7387 19.7835C18.883 19.9278 19.0719 20 19.2611 20C19.4503 20 19.6392 19.9278 19.7835 19.7835C20.0722 19.4951 20.0722 19.0271 19.7835 18.7387Z"/>
										</svg>
									button(class="search-form__close")
										<svg  viewBox="0 0 329.26933 329"  xmlns="http://www.w3.org/2000/svg">
											<path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
										</svg>
						a(class="compare mr-2 mr-lg-4" href="#")
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M18.5408 2.90117C17.5543 1.78188 16.1859 1.16547 14.6875 1.16547C12.5802 1.16547 11.246 2.42406 10.4979 3.47992C10.3038 3.75391 10.1386 4.02863 10 4.28715C9.86137 4.02863 9.69629 3.75391 9.50215 3.47992C8.75402 2.42406 7.41984 1.16547 5.3125 1.16547C3.81414 1.16547 2.44566 1.78192 1.45918 2.90121C0.518242 3.96895 0 5.39895 0 6.92778C0 8.59196 0.649727 10.1398 2.04473 11.7989C3.29148 13.2817 5.08512 14.8101 7.16211 16.58C7.93605 17.2395 8.73641 17.9216 9.58848 18.6671L9.61406 18.6895C9.72453 18.7862 9.86227 18.8345 10 18.8345C10.1377 18.8345 10.2755 18.7862 10.3859 18.6895L10.4115 18.6671C11.2636 17.9216 12.0639 17.2396 12.838 16.5799C14.9149 14.8102 16.7085 13.2817 17.9553 11.7989C19.3503 10.1398 20 8.59196 20 6.92778C20 5.39895 19.4818 3.96895 18.5408 2.90117ZM12.0779 15.6881C11.4107 16.2566 10.724 16.8417 10 17.4711C9.27602 16.8418 8.58934 16.2566 7.92203 15.688C3.85723 12.2242 1.17188 9.93586 1.17188 6.92778C1.17188 5.68442 1.58613 4.52957 2.33836 3.67602C3.09922 2.81278 4.15543 2.33735 5.3125 2.33735C6.9191 2.33735 7.95766 3.32711 8.54594 4.15742C9.07363 4.90211 9.34898 5.65281 9.44289 5.94098C9.52145 6.18219 9.74633 6.34543 10 6.34543C10.2537 6.34543 10.4786 6.18219 10.5571 5.94098C10.651 5.65281 10.9264 4.90211 11.4541 4.15738C12.0423 3.32711 13.0809 2.33735 14.6875 2.33735C15.8446 2.33735 16.9008 2.81278 17.6616 3.67602C18.4139 4.52957 18.8281 5.68442 18.8281 6.92778C18.8281 9.93586 16.1428 12.2242 12.0779 15.6881Z"/>
							</svg>
						//a(class="log mr-2 mr-lg-4" href="#")
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.0711 12.9289C15.9819 11.8398 14.6855 11.0335 13.2711 10.5454C14.786 9.50199 15.7812 7.75578 15.7812 5.78125C15.7812 2.59348 13.1878 0 10 0C6.81223 0 4.21875 2.59348 4.21875 5.78125C4.21875 7.75578 5.21402 9.50199 6.72898 10.5454C5.31453 11.0335 4.01813 11.8398 2.92895 12.9289C1.0402 14.8177 0 17.3289 0 20H1.5625C1.5625 15.3475 5.34754 11.5625 10 11.5625C14.6525 11.5625 18.4375 15.3475 18.4375 20H20C20 17.3289 18.9598 14.8177 17.0711 12.9289ZM10 10C7.67379 10 5.78125 8.1075 5.78125 5.78125C5.78125 3.455 7.67379 1.5625 10 1.5625C12.3262 1.5625 14.2188 3.455 14.2188 5.78125C14.2188 8.1075 12.3262 10 10 10Z"/>
							</svg>
							
						a(class="mini-cart mini-cart_btn" href="#")
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.6562 4.6875H15.2755C14.9652 2.05164 12.7179 0 10 0C7.28215 0 5.0348 2.05164 4.72445 4.6875H2.34375C1.91227 4.6875 1.5625 5.03727 1.5625 5.46875V19.2188C1.5625 19.6502 1.91227 20 2.34375 20H17.6562C18.0877 20 18.4375 19.6502 18.4375 19.2188V5.46875C18.4375 5.03727 18.0877 4.6875 17.6562 4.6875ZM10 1.5625C11.8548 1.5625 13.3992 2.91621 13.6976 4.6875H6.30238C6.60082 2.91621 8.14516 1.5625 10 1.5625ZM16.875 18.4375H3.125V6.25H4.6875V8.59375C4.6875 9.02523 5.03727 9.375 5.46875 9.375C5.90023 9.375 6.25 9.02523 6.25 8.59375V6.25H13.75V8.59375C13.75 9.02523 14.0998 9.375 14.5312 9.375C14.9627 9.375 15.3125 9.02523 15.3125 8.59375V6.25H16.875V18.4375Z"/>
							</svg>
							span(class="mini-cart__count")
								| 10
	div(class="header-mobile" id="mobile-menu-modal")
		div(class="header-mobile__content")
			div(class="d-flex justify-content-end")
				div(class="header-mobile__close")
					span
						| меню
					<svg  viewBox="0 0 329.26933 329"  xmlns="http://www.w3.org/2000/svg">
						<path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
					</svg>
			div()
				ul(class="")
					each val, index in ['главная', 'каталог', 'о компании', 'доставка и оплата', 'контакты']
						li
							a(href="#" class="header-link")
								= val
				
