section(class="social-area")
	div(class="container")
		div(class="row justify-content-center py-5")
			div(class="col-10 d-flex flex-column align-items-center")
				div(class="subtitle text-center")
					| БУДЬТЕ В КУРСЕ
				h2(class="title text-center")
					| Следите за нами в социальных сетях
				span(class="title-line mt-4 mb-5")
				p(class="description text-center")
					| Каждый день мы выкладываем в наших социальных сетях большое количество полезной информации
				div(class="social")
					a(href="#" class="social__item")
						<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M25.4531 0H10.5469C4.73133 0 0 4.73133 0 10.5469V25.4531C0 31.2687 4.73133 36 10.5469 36H25.4531C31.2687 36 36 31.2687 36 25.4531V10.5469C36 4.73133 31.2687 0 25.4531 0ZM34.5938 25.4531C34.5938 30.4933 30.4933 34.5938 25.4531 34.5938H10.5469C5.50673 34.5938 1.40625 30.4933 1.40625 25.4531V10.5469C1.40625 5.50673 5.50673 1.40625 10.5469 1.40625H25.4531C30.4933 1.40625 34.5938 5.50673 34.5938 10.5469V25.4531Z" fill="white"/>
							<path d="M25.4531 3.09375H10.5469C6.43718 3.09375 3.09375 6.43718 3.09375 10.5469V25.4531C3.09375 29.5628 6.43718 32.9062 10.5469 32.9062H14.8359C15.2243 32.9062 15.5391 32.5915 15.5391 32.2031C15.5391 31.8148 15.2243 31.5 14.8359 31.5H10.5469C7.21266 31.5 4.5 28.7873 4.5 25.4531V10.5469C4.5 7.21266 7.21266 4.5 10.5469 4.5H25.4531C28.7873 4.5 31.5 7.21266 31.5 10.5469V25.4531C31.5 28.7873 28.7873 31.5 25.4531 31.5H21.211C20.8226 31.5 20.5078 31.8148 20.5078 32.2031C20.5078 32.5915 20.8226 32.9062 21.211 32.9062H25.4531C29.5628 32.9062 32.9062 29.5628 32.9062 25.4531V10.5469C32.9062 6.43718 29.5628 3.09375 25.4531 3.09375Z" fill="white"/>
							<path d="M18.4971 31.706C18.3663 31.5752 18.1849 31.5 18 31.5C17.8151 31.5 17.6337 31.5752 17.5029 31.706C17.3721 31.8368 17.2969 32.0182 17.2969 32.2031C17.2969 32.388 17.3721 32.5695 17.5029 32.7002C17.6337 32.831 17.8151 32.9062 18 32.9062C18.1849 32.9062 18.3663 32.831 18.4971 32.7002C18.6279 32.5695 18.7031 32.388 18.7031 32.2031C18.7031 32.0182 18.6279 31.8368 18.4971 31.706Z" fill="white"/>
							<path d="M12.363 10.9482C12.0975 10.6648 11.6526 10.6504 11.3692 10.9158L11.338 10.9451C11.0556 11.2116 11.0426 11.6566 11.3092 11.9391C11.4475 12.0857 11.6339 12.1596 11.8207 12.1596C11.9938 12.1596 12.1673 12.0961 12.3031 11.9679L12.3306 11.9421C12.614 11.6766 12.6285 11.2316 12.363 10.9482Z" fill="white"/>
							<path d="M18 8.29688C16.4557 8.29688 14.9186 8.6689 13.5551 9.37273C13.21 9.55083 13.0747 9.97495 13.2528 10.32C13.431 10.6651 13.8551 10.8004 14.2001 10.6223C15.3817 10.0124 16.6602 9.70312 18 9.70312C22.5749 9.70312 26.2969 13.4251 26.2969 18C26.2969 22.5749 22.5749 26.2969 18 26.2969C13.4251 26.2969 9.70312 22.5749 9.70312 18C9.70312 16.5643 10.0754 15.1497 10.7798 13.9094C10.9716 13.5717 10.8533 13.1425 10.5156 12.9507C10.1779 12.759 9.74876 12.8772 9.55695 13.215C8.7326 14.6666 8.29688 16.3213 8.29688 18C8.29688 23.3503 12.6497 27.7031 18 27.7031C23.3503 27.7031 27.7031 23.3503 27.7031 18C27.7031 12.6497 23.3503 8.29688 18 8.29688Z" fill="white"/>
							<path d="M18 11.6719C14.5107 11.6719 11.6719 14.5107 11.6719 18C11.6719 21.4893 14.5107 24.3281 18 24.3281C21.4893 24.3281 24.3281 21.4893 24.3281 18C24.3281 14.5107 21.4893 11.6719 18 11.6719ZM18 22.9219C15.2861 22.9219 13.0781 20.7139 13.0781 18C13.0781 15.2861 15.2861 13.0781 18 13.0781C20.7139 13.0781 22.9219 15.2861 22.9219 18C22.9219 20.7139 20.7139 22.9219 18 22.9219Z" fill="white"/>
							<path d="M27.2285 6.09961C25.7553 6.09961 24.5566 7.29823 24.5566 8.77148C24.5566 10.2447 25.7553 11.4434 27.2285 11.4434C28.7018 11.4434 29.9004 10.2447 29.9004 8.77148C29.9004 7.29823 28.7018 6.09961 27.2285 6.09961ZM27.2285 10.0371C26.5307 10.0371 25.9629 9.46934 25.9629 8.77148C25.9629 8.07363 26.5307 7.50586 27.2285 7.50586C27.9264 7.50586 28.4941 8.07363 28.4941 8.77148C28.4941 9.46934 27.9264 10.0371 27.2285 10.0371Z" fill="white"/>
						</svg>
					a(href="#" class="social__item")
						<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M30.5711 24.1008L30.2144 23.518C29.5172 22.3791 28.6733 21.3349 27.7063 20.414L26.5135 19.2782C26.4001 19.1702 26.3831 18.9988 26.4731 18.8706L28.1018 16.5497C28.3367 16.215 28.5534 15.8626 28.746 15.5021L30.1378 12.898C30.3804 12.4442 30.3675 11.9096 30.1031 11.468C29.8388 11.0265 29.3737 10.7625 28.8592 10.762L25.8466 10.7585C25.846 10.7585 25.8454 10.7585 25.8448 10.7585C25.2137 10.7585 24.6421 11.1318 24.3885 11.7098L24.0694 12.4368C23.2553 14.2917 22.1441 15.983 20.7656 17.4659V12.1582C20.7656 11.3861 20.1373 10.7578 19.3652 10.7578H15.0986C14.398 10.7578 13.8281 11.3278 13.8281 12.0284C13.8281 12.2959 13.9106 12.5522 14.0666 12.7693L14.3651 13.1852C14.6578 13.5928 14.8125 14.0735 14.8125 14.5754V18.4538C14.2864 17.8427 13.6457 17.0129 13.1034 16.0588C12.273 14.5977 11.6777 12.894 11.3968 12.0084C11.1595 11.2604 10.473 10.7578 9.68833 10.7578H6.63719C6.2066 10.7578 5.8106 10.9547 5.55044 11.298C5.2905 11.6413 5.2083 12.076 5.32509 12.4906L5.89427 14.5107C6.24309 15.7489 6.72262 16.9544 7.31951 18.0936C7.49965 18.4375 7.92447 18.5703 8.26858 18.3901C8.61262 18.2099 8.7453 17.7849 8.56509 17.4409C8.01349 16.388 7.57031 15.2738 7.24786 14.1294L6.69415 12.1641H9.6884C9.85737 12.1641 10.0052 12.2723 10.0563 12.4336C10.354 13.3717 10.9868 15.1807 11.881 16.7536C12.6146 18.0443 13.5047 19.1195 14.1223 19.7942C14.4607 20.1639 14.9812 20.2856 15.4485 20.1039C15.9164 19.9221 16.2187 19.4804 16.2187 18.9785V14.5754C16.2187 13.7775 15.9727 13.0131 15.5075 12.365L15.3631 12.1641H19.3593V17.8028C19.3593 18.2153 19.5665 18.5946 19.9135 18.8177C20.2604 19.0408 20.6915 19.0716 21.0668 18.9003L21.3567 18.768C21.4903 18.7071 21.6089 18.6221 21.7095 18.5153C23.2354 16.8948 24.4627 15.0398 25.3572 13.0018L25.6763 12.2748C25.7056 12.2079 25.7718 12.1647 25.8448 12.1647H25.845L28.8576 12.1681C28.8678 12.1681 28.8834 12.1682 28.8966 12.1903C28.9099 12.2124 28.9025 12.2261 28.8977 12.2351L27.5059 14.8392C27.3399 15.1498 27.1531 15.4535 26.9508 15.7419L25.322 18.0628C24.829 18.7654 24.9223 19.7048 25.5438 20.2966L26.7366 21.4324C27.6151 22.269 28.3817 23.2177 29.0151 24.2523L29.3719 24.8351C29.3805 24.8491 29.4066 24.8918 29.3741 24.9498C29.3416 25.0078 29.2915 25.0078 29.2751 25.0078H26.6744C26.3402 25.0078 26.0149 24.8704 25.7819 24.6308L23.1814 21.9568C22.5685 21.3267 21.7908 20.8939 20.9322 20.7055C20.5474 20.6209 20.1501 20.7141 19.8429 20.9612C19.5356 21.2084 19.3594 21.5762 19.3594 21.9704V24.5977C19.3594 24.8238 19.1755 25.0078 18.9493 25.0078C16.934 25.0078 14.9425 24.3335 13.3417 23.1092C12.6968 22.6159 12.0817 22.0719 11.5135 21.4924C11.2417 21.2153 10.7965 21.2107 10.5191 21.4826C10.2418 21.7545 10.2375 22.1997 10.5093 22.4769C11.124 23.104 11.7896 23.6925 12.4873 24.2262C14.332 25.6371 16.6268 26.4141 18.9492 26.4141C19.9507 26.4141 20.7656 25.5992 20.7656 24.5977V22.1119C21.301 22.2548 21.7852 22.5384 22.1732 22.9373L24.7738 25.6113C25.2699 26.1214 25.9627 26.4141 26.6744 26.4141H29.2751C29.8245 26.4141 30.3325 26.1164 30.6009 25.6371C30.8693 25.158 30.858 24.5692 30.5711 24.1008Z" fill="white"/>
							<path d="M9.84771 19.5153L9.83991 19.5044C9.61357 19.1889 9.1744 19.1164 8.85877 19.3427C8.54321 19.569 8.47078 20.0083 8.69705 20.3238C8.69733 20.3243 8.70155 20.3302 8.70183 20.3306L9.27628 19.925L8.70486 20.3347C8.84218 20.5263 9.05796 20.6282 9.27692 20.6282C9.41867 20.6282 9.56189 20.5854 9.686 20.4965C10.0016 20.2701 10.074 19.8309 9.84771 19.5153Z" fill="white"/>
							<path d="M14.4045 31.2188H8.67401C8.28575 31.2188 7.97089 31.5335 7.97089 31.9219C7.97089 32.3102 8.28575 32.625 8.67401 32.625H14.4045C14.7928 32.625 15.1076 32.3102 15.1076 31.9219C15.1076 31.5335 14.7927 31.2188 14.4045 31.2188Z" fill="white"/>
							<path d="M17.6037 31.2188H17.5953C17.2071 31.2188 16.8922 31.5335 16.8922 31.9219C16.8922 32.3102 17.2071 32.625 17.5953 32.625H17.6037C17.992 32.625 18.3068 32.3102 18.3068 31.9219C18.3068 31.5335 17.992 31.2188 17.6037 31.2188Z" fill="white"/>
							<path d="M31.3594 0H4.64062C2.08174 0 0 2.08174 0 4.64062V31.3594C0 33.9183 2.08174 36 4.64062 36H31.3594C33.9183 36 36 33.9183 36 31.3594V4.64062C36 2.08174 33.9183 0 31.3594 0ZM34.5938 31.3594C34.5938 33.1428 33.1428 34.5938 31.3594 34.5938H4.64062C2.85722 34.5938 1.40625 33.1428 1.40625 31.3594V4.64062C1.40625 2.85722 2.85722 1.40625 4.64062 1.40625H31.3594C33.1428 1.40625 34.5938 2.85722 34.5938 4.64062V31.3594Z" fill="white"/>
						</svg>
