.footer {
	.footer-topline {
		padding: 46px 0 56px 0px;
		background-color: #fff;
		ul {
			margin: 0px;
			padding: 0px;
			li {
				list-style: none;
				margin-bottom: 10px;
				a {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 16px;
					color: #000000;
					transition: $mainTransition;
					&:hover {
						text-decoration: none;
						color: $rareColor;
						transition: $mainTransition;
					}
				}
				&:last-child {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 16px;
					color: #000000;
				}
			}
		}
	}
	.footer__line {
		height: 1px;
		background-color: #8E8E8E;
	}
	.footer-botline {
		padding: 17px 0px;
		background-color: #2B2B2B;
		.link {
			display: flex;
			align-items: flex-end;


			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			color: #FFFFFF;
			transition: $mainTransition;
			span {
				position: relative;
				margin-left: 6px;
				&:before {
					content: "";
					position: absolute;
					bottom: -2px;
					height: 1px;
					width: 100%;
					background: #fff;

					transition: $mainTransition;
				}
			}
			&:hover {
				text-decoration: none;
				color: $rareColor;
				transition: $mainTransition;
				span {
					&:before {
						background: $rareColor;
						transition: $mainTransition;
					}
				}
			}
		}
	}
	.title {
		display: block;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		margin-bottom: 27px;
	}
	.info {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
	}
	.phone {
		svg {
			path {
				transition: $mainTransition;
			}
		}
		&:hover {
			span {
				color: $rareColor;
				transition: $mainTransition;
			}
			svg {
				path {
					fill: $rareColor;
					transition: $mainTransition;
				}
			}
		}
	}
	.mailto {
		span {
			transition: $mainTransition;
		}
		svg {
			path {
				transition: $mainTransition;
			}
		}
		&:hover {
			text-decoration: none;
			span {
				color: $rareColor;
				transition: $mainTransition;
			}
			svg {
				path {
					fill: $rareColor;
					transition: $mainTransition;
				}
			}
		}
	}
}
