.catalog-area {
	padding: 80px 0 50px 0;
	background: #fff;
	.subtitle {
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 100%;
		color: #8E8E8E;
		margin-bottom: 22px;
		display: block;
		@media (max-width: 991px) {
			font-size: 16px;
		}
	}
	.description {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;

		color: #8E8E8E;
		@media (max-width: 991px) {
			font-size: 14px;
		}
	}

	.catalog-area__item {
		position: relative;
		overflow: hidden;
		.catalog-area__title {
			position: absolute;
			display: block;
			right: 10px;
			bottom: 50px;
			background: rgba(255, 255, 255, 0.54);
			padding: 10px 20px;

			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #000000;
			@media (max-width: 991px) {
				font-size: 16px;
				line-height: 100%;
			}
		}
		.catalog-area__hidden {
			opacity: 0;
			position: absolute;
			top: 5%;
			right: 5%;
			bottom: 5%;
			left: 5%;
			transition: $mainTransition;
			background: rgba(0,0,0,0.7);

			display: flex;
			justify-content: center;
			align-items: center;
		}
		img {
			transition: $mainTransition;
		}
		&:hover {
			img {
				transform: scale(1.1);
				transition: $mainTransition;
			}
			.catalog-area__hidden {
				opacity: 1;
				top: 0px;
				right: 0px;
				bottom: 0px;
				left: 0px;
				transition: $mainTransition;
			}
		}
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}

.hot-area {
	padding: 60px 0px;
}
.hot-slider {
	.hot-slider__item {
		padding: 0 15px;
	}
	.slick-arrow {
		z-index: 2;
		width: 50px;
		height: 50px;
		background: #fff;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
		border-radius: 100%;
		@media (max-width: 991px) {
			width: 40px;
			height: 40px;
		}
	}
	.slick-next:before,
	.slick-prev:before {
		color: #000;
	}
	.slick-next {
		@media (max-width: 1360px) {
			right: 4px;
		}
	}
	.slick-prev {
		@media (max-width: 1360px) {
			left: 4px;
		}
	}
}
.catalog-item {
	.catalog-item__preview {
		margin-bottom: 20px;
		overflow: hidden;
		width: 100%;
		position: relative;
		img {
			transition: $mainTransition;
		}
		&:hover {
			img {
				transform: scale(1.1);
				transition: $mainTransition;
			}
		}
		.sale-block {
			position: absolute;
			z-index: 9;
			top: 12px;
			left: 12px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			.sale-block__item {
				padding: 2px 6px;
				font-style: normal;
				font-weight: bold;
				font-size: 12px;
				line-height: 15px;
				color: #FFFFFF;
				border-radius: 10px;
				&.sale-block__item_precent {
					color: #FFFFFF;
					background: #F2475F;
				}
			}
		}
	}
	.title {
		display: block;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 100%;
		color: #000000;
		transition: $mainTransition;
		margin-bottom: 13px;
		&:hover {
			color: $rareColor;
			text-decoration: none;
			transition: $mainTransition;
		}
	}
	.rating {
		margin-bottom: 15px;
		display: block;
	}
	.subdesc {
		display: block;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		margin-bottom: 11px;
	}
	.price {
		display: flex;
		align-items: center;
		.old, .new {
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: #000;
			margin-bottom: 0px;
		}
		.old {
			color: #8E8E8E;
			text-decoration: line-through;
			margin-right: 13px;
		}
		.new {
			color: $rareColor;
		}
	}
	form {
		.btn {
			background: none;
			padding: 0px;
			margin: 0px;
			border: 0px;
			svg {
				path {
					transition: $mainTransition;
				}
			}
			&:hover {
				background: none;
				color: none;
				svg {
					path {
						fill: $rareColor;
						transition: $mainTransition;
					}
				}
			}
		}
	}
}

.catalog {
	.filter-mob {
		font-size: 14px;
		font-weight: bold;
		color: #000;
		&:hover {
			text-decoration: none;
		}
	}
	.catalog-filter {
		a {
			display: inline-block;
			padding: 4px 13px;
			border: 1px solid #000;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #000000;
			margin-right: 12px;
			margin-bottom: 10px;
			transition: $mainTransition;
			&:hover {
				text-decoration: none;
				color: $rareColor;
				transition: $mainTransition;
			}
		}
	}
	.catalog-category {
		a {
			display: block;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
			transition: $mainTransition;
			margin-bottom: 8px;
			&:hover {
				text-decoration: none;
				color: $rareColor;
				transition: $mainTransition;
			}
			&:last-child {
				margin: 0px;
			}
		}
	}
	.catalog-options {
		border-top: 1px solid #E5E5E5;
		padding: 10px 0px 20px 0px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		.catalog-options__dots {
			cursor: pointer;
			display: flex;
			flex-wrap: wrap;
			span {
				display: inline-block;
				margin: 0px;
				padding: 0px;
				min-width: 4px;
				min-height: 4px;
				width: 4px;
				height: 4px;
				background: #C4C4C4;
				margin-right: 1px;
				margin-bottom: 1px;
				border-radius: 100%;
			}
			&.catalog-options__dots_2 {
				width: 9px;
				span {
					&:nth-child(2n) {
						margin-right: 0px;
					}
				}
			}
			&.catalog-options__dots_3 {
				width: 14px;
				span {
					&:nth-child(3n) {
						margin-right: 0px;
					}
				}
			}
			&.catalog-options__dots_4 {
				width: 19px;
				span {
					&:nth-child(4n) {
						margin-right: 0px;
					}
				}
			}
			&.active {
				span {
					background-color: #000;
				}
			}
		}
	}
	.catalog__row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
		.catalog__col {
			padding: 0 15px;
			transition: $mainTransition;
		}
		&.catalog__row_2 {
			.catalog__col {
				flex: 0 0 50%;
				max-width: 50%;
				@media (max-width: 991px) {
					flex: 0 0 50%;
					max-width: 50%;
				}
				@media (max-width: 600px) {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}
		&.catalog__row_3 {
			.catalog__col {
				flex: 0 0 33.333%;
				max-width: 33.333%;
				@media (max-width: 991px) {
					flex: 0 0 50%;
					max-width: 50%;
				}
				@media (max-width: 600px) {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}
		&.catalog__row_4 {
			.catalog__col {
				flex: 0 0 25%;
				max-width: 25%;
				@media (max-width: 991px) {
					flex: 0 0 50%;
					max-width: 50%;
				}
				@media (max-width: 600px) {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}
	}
	@media (max-width: 991px) {
		padding-top: 50px;
	}
}
.catalog-sort {
	span {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #5C5C5C;
	}
	select {
		border: 0px;
		padding: 0px;
		margin: 0px;
		border-radius: 0px;

		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;

		color: #000000;

		&:focus {
			outline: none;
		}
	}
}
