extends base.pug
block content
	include components/breadcrumb-area.pug
	section(class="about mar-top")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-6 pb-5 pb-lg-0")
					img(class="lazyload w-100" data-src="images/team.jpg" alt="img")
				div(class="col-12 col-lg-5")
					h2(class="h2")
						| О компании
					p
						| описание
