doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")
			
		<link rel="icon" type="image/png"  href="images/favicon.png">
		
		title Project
	body
		include components/header-area.pug
		block content
		include components/footer-area.pug
		<a class="back-to-top js-back-to-top" href="#" title="Scroll To Top"><i class="icon icn-arrow_up"></i></a>
		
		div(id="mini-cart-modal")
			div(class="mini-cart-modal__content")
				div(class="mini-cart-modal__header")
					div(class="mini-cart-modal__close")
						<svg  viewBox="0 0 329.26933 329"  xmlns="http://www.w3.org/2000/svg">
							<path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
						</svg>
						span
							| закрыть
					div(class="mini-cart-modal__count")
						<div class="mini-cart">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.6562 4.6875H15.2755C14.9652 2.05164 12.7179 0 10 0C7.28215 0 5.0348 2.05164 4.72445 4.6875H2.34375C1.91227 4.6875 1.5625 5.03727 1.5625 5.46875V19.2188C1.5625 19.6502 1.91227 20 2.34375 20H17.6562C18.0877 20 18.4375 19.6502 18.4375 19.2188V5.46875C18.4375 5.03727 18.0877 4.6875 17.6562 4.6875ZM10 1.5625C11.8548 1.5625 13.3992 2.91621 13.6976 4.6875H6.30238C6.60082 2.91621 8.14516 1.5625 10 1.5625ZM16.875 18.4375H3.125V6.25H4.6875V8.59375C4.6875 9.02523 5.03727 9.375 5.46875 9.375C5.90023 9.375 6.25 9.02523 6.25 8.59375V6.25H13.75V8.59375C13.75 9.02523 14.0998 9.375 14.5312 9.375C14.9627 9.375 15.3125 9.02523 15.3125 8.59375V6.25H16.875V18.4375Z"></path>
							</svg>
							<span class="mini-cart__count">10</span>
						</div>
				div(class="mini-cart-modal__list")
					form(action="" nethod="")
						div(class="mini-cart-modal__item")
							a(class="preview" href="#")
								img(class="lazyload w-100" data-src="images/cat1.png" alt="img")
							div(class="d-flex flex-column")
								a(class="title" href="#")
									| Здесь название
								span(class="price")
									| 1 x 1 499 Р.
						div(class="mini-cart-modal__item")
							a(class="preview" href="#")
								img(class="lazyload w-100" data-src="images/cat1.png" alt="img")
							div(class="d-flex flex-column")
								a(class="title" href="#")
									| Здесь название и оно очень большое, сам посмотри только на это!
								span(class="price")
									| 1 x 1 499 Р.
						div(class="mini-cart-modal__item")
							a(class="preview" href="#")
								img(class="lazyload w-100" data-src="images/cat1.png" alt="img")
							div(class="d-flex flex-column")
								a(class="title" href="#")
									| Здесь название
								span(class="price")
									| 1 x 1 499 Р.
						div(class="mini-cart-modal__item")
							a(class="preview" href="#")
								img(class="lazyload w-100" data-src="images/cat1.png" alt="img")
							div(class="d-flex flex-column")
								a(class="title" href="#")
									| Здесь название и оно очень большое, сам посмотри только на это!
								span(class="price")
									| 1 x 1 499 Р.
				div(class="mini-cart-modal__footer")
					div(class="mini-cart-modal__final-price d-flex justify-content-between align-items-center")
						span
							| Цена:
						span
							| 1 499 Р.
					a(href="#" class="mini-cart-modal__submit")
						| Оформить заказ
		script(src="js/main.min.js")
