extends base.pug
block content
	include components/breadcrumb-area.pug
	section(class="blog-inner mar-top")
		div(class="container")
			div(class="row")
				div(class="col-12 pb-5")
					h1
						b
							| Название статьи
					span(class="date")
						| 02.09.2020
			div(class="row")
					div(class="col-12")
						div(class="blog-item")
							img(class="w-100 lazyload" data-src	="images/blog.jpg" alt="img")
							p
								| Равным образом дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание существенных финансовых и административных условий.
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							img(class="w-100 lazyload" data-src	="images/blog.jpg" alt="img")
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
