extends base.pug
block content
	include components/breadcrumb-area.pug
	section(class="blog mar-top")
		div(class="container")
			div(class="row")
				div(class="col-12 pb-5")
					h1
						b
							| Статьи
			div(class="row")
				-for (var i = 0; i < 10; i++)
					div(class="col-12 col-lg-4 pb-5")
						div(class="blog-item")
							div(class="blog-item__preview")
								a(class="d-block" href='#')
									img(class="w-100 lazyload" data-src	="images/blog.jpg" alt="img")
							a(class="title" href="#")
								| Заголовок статьи
							span(class="date")
								| 02.09.2020
							p(class="description")
								| Равным образом дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. 
