extends base.pug
block content
	include components/breadcrumb-area.pug
	include components/catalog-area.pug
	include components/social-area.pug
	section(class="decription-page")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="mb-5")
						| Заголовок для SEO текста
					p
						| Равным образом дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
					p
						| Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Равным образом новая модель организационной деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития.
