extends base.pug
block content
	include components/breadcrumb-area.pug
	section(class="catalog")
		div(class="container pb-5")
			div(class="row")
				div(class="d-block d-lg-none col-12")
					a(class="filter-mob mb-5 d-block" href="#")
						| Фильтр
					div(id="catalog-sidebar-mob")
						div(class="content")
							div(class="d-flex justify-content-end")
								div(class="catalog-sidebar-mob__close ")
									span
										| закрыть
									<svg  viewBox="0 0 329.26933 329"  xmlns="http://www.w3.org/2000/svg">
										<path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
									</svg>
								
				div(class="col-12 col-lg-3" id="catalog-sidebar-wrapper")
					div(id="catalog-sidebar")
						div(class="pb-5 catalog-filter")
							h2(class="mb-3")
								| Фильтрация
							div()
								-for (var i = 0; i < 6; i++)
									a(class="" href="#")
										| дешевые
						div(class="pb-5 catalog-category")
							h2(class="mb-3")
								| Категории
							div(class="pl-lg-3 pt-lg-3")
								a(class="" href="#")
									| Комплекты постельного белья
								a(class="" href="#")
									| Простыня на резинке
								a(class="" href="#")
									| Наволочки
								a(class="" href="#")
									| Наперники
								a(class="" href="#")
									| Пододеяльники
								a(class="" href="#")
									| Простыня
						div(class="pb-5")
							h2(class="mb-3")
								| Фильтр по цене
							div(id="price-range")
							form(action="" method="" class="form-price-range d-flex justify-content-between align-items-center pt-3")
								label
									| от
									input(type="number" id="price-range__min")
								label
									| до
									input(type="number" id="price-range__max")
				div(class="col-12 col-lg-9")
					h2(class="h2")
						| Постельное белье
					div(class="catalog-options")
						div(class="d-none d-lg-flex align-items-start")
							div(class="catalog-options__dots catalog-options__dots_2 active mr-2" data-grid="2")
								- for(var i = 0; i < 6; i++)
									span
							div(class="catalog-options__dots catalog-options__dots_3 mr-2" data-grid="3")
								- for(var i = 0; i < 9; i++)
									span
							div(class="catalog-options__dots catalog-options__dots_4 mr-2" data-grid="4")
								- for(var i = 0; i < 12; i++)
									span
						div(class="catalog-sort d-flex align-items-center")
							span(class="pr-2")
								| Сортировать
							form(action="" method="")
								select()
									option(value="")
										| что-то
									option(value="")
										| по цене
					div(class="catalog__row catalog__row_2" id="catalog-grid")
						-for(var i = 0; i < 10; i++)
							div(class="catalog__col mb-4")
								div(class="catalog-item")
									div(class="catalog-item__preview")
										div(class="sale-block")
											div(class="sale-block__item sale-block__item_precent")
												| -10%
										a(class="d-block" href='#')
											img(class="w-100 lazyload" data-src="images/item.png" alt="img")
									div(class="pb-3 px-3")
										a(class="title" href="#")
											| Комплект постельного белья
										span(class="rating")
											| Вставить рейтинг
										span(class="d-block mb-3")
											b(class="pr-2")
												|Состав:
											| 100% хлопок
										div(class="d-flex justify-content-between align-items-end")
											div(class="price")
												span(class="old")
													| 1 999 Р.
												span(class="new")
													| 1 499 Р.
											form(action="" method="")
												button(class="btn" type="submit")
													<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M18.3375 6.72981C20.193 6.72981 21.7025 5.22032 21.7025 3.36493C21.7024 1.50949 20.1929 0 18.3375 0C16.4821 0 14.9727 1.50949 14.9727 3.36493C14.9727 5.22032 16.4821 6.72981 18.3375 6.72981ZM18.3375 0.644531C19.8376 0.644531 21.0579 1.86489 21.0579 3.36493C21.0579 4.86492 19.8376 6.08528 18.3375 6.08528C16.8375 6.08528 15.6172 4.86492 15.6172 3.36493C15.6172 1.86489 16.8375 0.644531 18.3375 0.644531Z" fill="black"/>
														<path d="M17.2197 3.68717H18.0153V4.48269C18.0153 4.66067 18.1595 4.80496 18.3375 4.80496C18.5155 4.80496 18.6598 4.66067 18.6598 4.48269V3.68717H19.4553C19.6333 3.68717 19.7776 3.54288 19.7776 3.3649C19.7776 3.18693 19.6333 3.04264 19.4553 3.04264H18.6598V2.24707C18.6598 2.06909 18.5155 1.9248 18.3375 1.9248C18.1595 1.9248 18.0153 2.06909 18.0153 2.24707V3.04259H17.2197C17.0417 3.04259 16.8975 3.18688 16.8975 3.36486C16.8975 3.54284 17.0417 3.68717 17.2197 3.68717Z" fill="black"/>
														<path d="M18.3549 16.9512C18.1769 16.9512 18.0327 17.0955 18.0327 17.2734C18.0327 17.4514 18.1769 17.5957 18.3549 17.5957H19.3663C19.5443 17.5957 19.6886 17.4514 19.6886 17.2734C19.6886 17.0955 19.5443 16.9512 19.3663 16.9512H18.3549Z" fill="black"/>
														<path d="M19.2632 7.8403H5.87499L5.37892 5.44385C5.34794 5.29423 5.21615 5.1869 5.06336 5.1869H3.62648C3.49723 4.77337 3.11069 4.47241 2.65517 4.47241H1.31498C0.754021 4.47241 0.297607 4.92883 0.297607 5.48978V5.57667C0.297607 6.13767 0.754021 6.59404 1.31498 6.59404H2.65517C3.12822 6.59404 3.52688 6.26949 3.64023 5.83138H4.80095L6.84196 15.6912C7.07949 16.7947 8.07104 17.5956 9.19962 17.5956H9.78764L8.5657 18.8176C7.67208 19.7112 8.32473 21.285 9.58805 21.285H10.3679C10.5038 21.6996 10.8942 22 11.3536 22C11.8131 22 12.2035 21.6996 12.3393 21.285H16.0728C16.2087 21.6996 16.599 22 17.0585 22C17.518 22 17.9083 21.6996 18.0442 21.285H19.366C19.544 21.285 19.6883 21.1407 19.6883 20.9627C19.6883 20.7847 19.544 20.6404 19.366 20.6404H18.0441C17.9082 20.2259 17.5179 19.9256 17.0585 19.9256C16.599 19.9256 16.2087 20.2259 16.0728 20.6404H12.3392C12.2033 20.2259 11.813 19.9256 11.3536 19.9256C10.8942 19.9256 10.5038 20.2259 10.3679 20.6404H9.58805C8.89501 20.6404 8.53029 19.7645 9.02142 19.2733L10.6991 17.5957H16.8618C17.0397 17.5957 17.184 17.4514 17.184 17.2734C17.184 17.0954 17.0397 16.9511 16.8618 16.9511H9.19962C8.32408 16.9511 7.59228 16.2905 7.44795 15.4389H8.33006C8.50803 15.4389 8.65232 15.2947 8.65232 15.1167C8.65232 14.9387 8.50803 14.7944 8.33006 14.7944H7.31453L6.00841 8.48488H19.2632C19.7845 8.48488 20.189 8.97451 20.0908 9.48644L19.2033 14.1106C19.1272 14.5069 18.7792 14.7945 18.3757 14.7945H9.86142C9.68344 14.7945 9.53915 14.9387 9.53915 15.1167C9.53915 15.2947 9.68344 15.439 9.86142 15.439H18.3757C19.0878 15.439 19.702 14.9314 19.8362 14.2321L20.7237 9.60791C20.8968 8.70599 20.1819 7.8403 19.2632 7.8403ZM3.02801 5.57667C3.02801 5.78227 2.86074 5.94951 2.65517 5.94951H1.31498C1.10942 5.94951 0.942139 5.78223 0.942139 5.57667V5.48978C0.942139 5.28418 1.10942 5.11694 1.31498 5.11694H2.65517C2.86078 5.11694 3.02801 5.28422 3.02801 5.48978V5.57667ZM17.0585 20.5701C17.275 20.5701 17.4512 20.7463 17.4512 20.9628C17.4512 21.1793 17.275 21.3554 17.0585 21.3554C16.8421 21.3554 16.666 21.1793 16.6659 20.963C16.6659 20.9629 16.6659 20.9628 16.6659 20.9627C16.6659 20.9627 16.6659 20.9626 16.6659 20.9625C16.666 20.7461 16.8421 20.5701 17.0585 20.5701ZM11.3536 20.5701C11.5702 20.5701 11.7463 20.7463 11.7463 20.9628C11.7463 21.1793 11.5702 21.3554 11.3536 21.3554C11.1371 21.3554 10.961 21.1793 10.961 20.9628C10.961 20.7463 11.1371 20.5701 11.3536 20.5701Z" fill="black"/>
														<path d="M8.15229 9.53431C7.97586 9.5576 7.85168 9.71951 7.87493 9.89598L8.33147 13.3572C8.35287 13.5194 8.49131 13.6374 8.65056 13.6374C8.66461 13.6374 8.67879 13.6365 8.69309 13.6346C8.86952 13.6113 8.9937 13.4494 8.97046 13.2729L8.51391 9.81167C8.49071 9.6352 8.32919 9.51098 8.15229 9.53431Z" fill="black"/>
														<path d="M10.9441 13.6375C10.9513 13.6375 10.9584 13.6373 10.9657 13.6368C11.1433 13.6251 11.2777 13.4716 11.266 13.294L11.0377 9.83276C11.026 9.65517 10.8726 9.52103 10.6949 9.53241C10.5173 9.54414 10.3828 9.69758 10.3946 9.87522L10.6229 13.3364C10.6341 13.5068 10.7758 13.6375 10.9441 13.6375Z" fill="black"/>
														<path d="M13.5601 13.315V9.85376C13.5601 9.67578 13.4158 9.53149 13.2379 9.53149C13.0599 9.53149 12.9156 9.67578 12.9156 9.85376V13.315C12.9156 13.493 13.0599 13.6373 13.2379 13.6373C13.4158 13.6373 13.5601 13.493 13.5601 13.315Z" fill="black"/>
														<path d="M15.5316 13.6373C15.6999 13.6373 15.8416 13.5066 15.8529 13.3362L16.0812 9.87499C16.0929 9.6974 15.9584 9.54392 15.7808 9.53219C15.603 9.52063 15.4498 9.65495 15.438 9.83254L15.2098 13.2938C15.1981 13.4713 15.3325 13.6248 15.5101 13.6366C15.5173 13.637 15.5245 13.6373 15.5316 13.6373Z" fill="black"/>
														<path d="M17.8252 13.6374C17.9844 13.6374 18.1229 13.5193 18.1443 13.3572L18.6008 9.89599C18.6241 9.71952 18.4999 9.55762 18.3235 9.53433C18.1467 9.51091 17.9851 9.63526 17.9618 9.81169L17.5052 13.2729C17.482 13.4494 17.6061 13.6113 17.7826 13.6346C17.797 13.6365 17.8112 13.6374 17.8252 13.6374Z" fill="black"/>
													</svg>
					div(class="d-flex justify-content-center")
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
	section(class="decription-page")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="mb-5")
						| Заголовок для SEO текста
					p
						| Равным образом дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
					p
						| Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Равным образом новая модель организационной деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития.
