extends base.pug
block content	
	section(class="welcome")
		div(class="welcome-slider")
			div(class="welcome-slider__item")
				div(class="welcome__content")
					div(class="container")
						div(class="row justify-content-center ")
							div(class="col-12 col-lg-8 d-flex flex-column align-items-center")
								h1(class="title")
									| Натуральное 1 
								p(class="subtitle")
									| постельное белье 1
								p(class="description")
									| Доставка по всей России 1
								a(href="#" class="btn btn_border")
									| в каталог
				picture
					source(media="(max-width: 991px)" data-srcset="images/preview-m.jpg")
					img(class="lazyload" data-src="images/preview.jpg" alt="img")
			div(class="welcome-slider__item")
				div(class="welcome__content")
					div(class="container")
						div(class="row justify-content-center ")
							div(class="col-12 col-lg-8 d-flex flex-column align-items-center")
								h1(class="title")
									| Натуральное 2
								p(class="subtitle")
									| постельное белье 2
								p(class="description")
									| Доставка по всей России 2
								a(href="#" class="btn btn_border")
									| в каталог
				picture
					source(media="(max-width: 991px)" data-srcset="images/preview-m.jpg")
					img(class="lazyload" data-src="images/preview.jpg" alt="img")
	include components/catalog-area.pug
	include components/banner-area.pug
	include components/hot-area.pug
	include components/social-area.pug
	include components/blog-area.pug
