.contacts {
	padding: 20px 0 100px 0px;
	.info {
		svg {
			width: 40px;
		}
		a {
			font-size: 22px;
			line-height: 100%;
			color: #000;

			&:hover {
				text-decoration: none;
				color: $rareColor;
				transition: $mainTransition;
				svg {
					path {
						fill: $rareColor;
						transition: $mainTransition;
					}
				}
			}
		}
		span {
			font-size: 22px;
			line-height: 100%;
			color: #000;
		}
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
