.cart {
	
	.title {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		transition: $mainTransition;
		&:hover {
			text-decoration: none;
			color: $rareColor;
			transition: $mainTransition;
		}
	}
	.price {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
	}
	.btn {
		&.btn_del {
			background: none;
			padding: 0px;
			svg {
				path {
					transition: $mainTransition;
				}
			}
			&:hover {
				svg {
					path {
						fill: $rareColor;
						transition: $mainTransition;
					}
				}
			}
		}
	}
	.line {
		height: 1px;
		background: #C4C4C4;
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
