.delivery {
	padding: 20px 0 100px 0px;
	.description {
		font-size: 18px;
		line-height: 120%;
		@media (max-width: 991px) {
			font-size: 14px;
		}
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
