/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "library/slick/slick-theme.scss";
@import "library/slick/slick.scss";
@import "library/jquery-ui.css";

@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "footer/_footer";
@import "modal/_modal";
@import "catalog/_catalog";
@import "banner/_banner";
@import "social/_social";
@import "blog/_blog";
@import "breadcrumb/_breadcrumb";
@import "pagination/_pagination";
@import "product/_product";
@import "cart/_cart";
@import "about/_about";
@import "contacts/_contacts";
@import "delivery/_delivery";



.welcome {
	position: relative;
	img {
		width: 100%;
	}
	.welcome-slider {
		.welcome-slider__item {
			position: relative;

		}
	}
	.welcome__content {
		top: 50%;
		left: 0px;
		right: 0px;
		transform: translateY(-50%);
		position: absolute;
	}

	.title {
		font-weight: bold;
		font-size: 91px;
		line-height: 110px;
		color: #000000;
		margin: 0px;
		@media (max-width: 1400px) {
			font-size: 36px;
			line-height: 100%;
		}
	}
	.subtitle {
		margin-bottom: 40px;
		font-weight: 300;
		font-size: 64px;
		line-height: 74px;
		color: #000000;
		@media (max-width: 1400px) {
			font-size: 24px;
			line-height: 100%;
		}
	}
	.description {
		margin-bottom: 40px;
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 28px;
		color: #000000;
		@media (max-width: 1400px) {
			font-size: 16px;
			line-height: 100%;
		}
	}
}


.decription-page {
	padding: 70px 0 80px 0px;
	p {
		font-size: 18px;
		margin-bottom: 30px;
		&:last-child {
			margin: 0px;
		}
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
