.header {
	position: fixed;
	z-index: 10;
	top: 0px;
	left: 0px;
	right: 0px;
	.header-topline {
		background-color: #EFEFEF;
	}

	ul {
		padding: 0px;
		margin: 0px;
		li {
			list-style: none;
			margin-right: 30px;
			padding: 15px 0px;
			&:last-child {
				margin: 0px;
			}
		}
	}
	.header-link {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 100%;
		color: #000;

		transition: $mainTransition;
	}
	.header-topline {
		ul {
			li {
				.active {
					.header-link {
						color: $rareColor;
					}
				}
				&:hover {
					.header-link {
						text-decoration: none;
						color: $rareColor;
						transition: $mainTransition;
					}
				}
			}
		}
		.header-link {
			color: #5C5C5C;
		}
	}
	.header-main {
		overflow-x: hidden;
		background-color: #fff;
		padding: 5px 60px 5px 15px;
		transition: $mainTransition;

		.header-link {
			margin-right: 40px;
			&:hover {
				color: $rareColor;
				transition: $mainTransition;
				text-decoration: none;
			}
			&:last-child {
				margin: 0px;
			}
			@media (max-width: 1500px) {
				margin-right: 10px;
			}
		}
		@media (max-width: 1400px) {
			padding: 10px 0px;
		}
		@media (max-width: 991px) {
			padding: 10px 0px;
		}
		.header-main__right {
			height: 46px;
		}
	}
	&.header_scroll {
		.header-main {
			// box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
			transition: $mainTransition;
		}
	}
	.header-mobile {
		position: fixed;
		z-index: 100;
		top: 0px;
		right: 100%;
		bottom: 0px;
		left: -100%;
		background-color: rgba(0,0,0,0.0);
		transition: $mainTransition;

		display: flex;

		&.show {
			left: 0px;
			right: 0px;
			background-color: rgba(0,0,0,0.5);
			transition: $mainTransition;
		}
		.header-mobile__content {
			background-color: #fff;
			padding: 30px;
			width: 100%;
			max-width: 400px;

			position: absolute;
			z-index: 101;
			top:0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			ul {
				padding: 15px 0px;
			}
			li {
				padding: 0px;
				margin: 0px;
			}
			.header-link {
				font-size: 16px;
				line-height: 100%;
				font-weight: bold;
				display: inline-block;

				padding: 15px 0px;
				border-bottom: dashed 1px  #c7c7c7;
			}
			@media (max-width: 640px){
				max-width: unset;
			}
		}
		.header-mobile__close {
			cursor: pointer;
			font-size: 18px;
			font-weight: bold;
			line-height: 100%;
			margin: 0px;
			svg {
				margin-left: 10px;
				width: 16px;
			}
		}
	}
}
.phone {
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	&:hover {
		text-decoration: none;
		color: $rareColor;
		transition: $mainTransition;
	}
}
.mini-cart {
	width: 60px;
	display: flex;
	align-items: center;
	.mini-cart__count {
		margin-left: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2px 6px 2px 4px;
		border-radius: 10px;
		min-width: 26px;
		background-color: #FFBCB5;

		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		color: #000000;
	}
}

.compare, .log, .mini-cart, .search-btn,
.search-form button {
	svg {
		path {
			fill: #000;
			transition: $mainTransition;
		}
	}
	&:hover {
		cursor: pointer;
		text-decoration: none;
		svg {
			path {
				fill: $rareColor;
				transition: $mainTransition;
			}
		}
	}
}
.compare, .log, .mini-cart {
	margin-bottom: 6px;
}

.burger {
	cursor: pointer;
	width: 24px;
	height: 16px;
	position: relative;
	span {
		display: block;
		height: 2px;
		background-color: #000;
		position: absolute;
		left: 0px;

		&:nth-child(1) {
			width: 100%;
			top: 0px;
		}
		&:nth-child(2) {
			width: 45%;
			top: calc(50% - 1px);
		}
		&:nth-child(3) {
			width: 75%;
			bottom: 0px;
		}
	}
}

.search {
	width: 60px;
	height: 40px;

	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 28px;
	border-right: 1px solid #EFEFEF;

	position: relative;

	.search-form {
		width: 280px;
		position: absolute;
		z-index: -100;
		top: -5px;
		right: -200px;
		left: 200px;
		transition: $mainTransition;
		&.show {
			z-index: 1;
			right: 0px;
			left: -230px;
			transition: $mainTransition;
		}
		input {
			width: 100%;
			border-radius: 0px;
			border: 1px solid #d5d5da;
			padding: 10px 80px 10px 30px;
			&:focus {
				outline: none;
			}
		}
		.search-form__submit {
			position: absolute;
			z-index: 2;
			top: 0px;
			bottom: 0px;
			right: 36px;
			width: 30px;
			border: 0px;
			background: none;
			padding: 0px;
			&:focus {
				outline: none;
			}
		}
		.search-form__close {
			position: absolute;
			z-index: 2;
			top: 0px;
			bottom: 0px;
			right: 6px;
			width: 30px;
			border: 0px;
			background: none;
			padding: 0px;
			svg {
				width: 16px;
				path {
					fill: #000;
					transition: $mainTransition;
				}
			}
			&:hover {
				cursor: pointer;
				text-decoration: none;
				svg {
					path {
						fill: $rareColor;
						transition: $mainTransition;
					}
				}
			}
			&:focus {
				outline: none;
			}
		}
	}
	@media (max-width: 991px) {
		padding: 0px;
		svg {
			path {
				fill: #000;
			}
		}
	}
}
.logo {
	display: block;
	img {
		max-width: 100%;
	}
}
