.social-area {
	background-image: url("../images/soc.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	min-height: 479px;
	display: flex;
	align-items: center;
	justify-content: center;
	.subtitle {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 100%;
		color: #FFFFFF;
		margin-bottom: 37px;
	}
	.title {
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		line-height: 100%;
		color: #FFFFFF;
		@media (max-width: 991px) {
			font-size: 34px;
		}
	}
	.description {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 100%;
		color: #FFFFFF;
		margin-bottom: 37px;
		@media (max-width: 991px) {
			font-size: 14px;
		}
	}
	@media (max-width: 1600px) {
		min-height: 400px;
	}
	@media (max-width: 1400px) {
		min-height: 350px;
	}
	@media (max-width: 1200px) {
		min-height: unset;
	}
}


.social {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	svg {
		path {
			transition: $mainTransition;
		}
	}
	.social__item {
		margin-right: 30px;
		&:hover {
			svg {
				path {
					fill: $rareColor;
					transition: $mainTransition;
				}
			}
		}
		&:last-child {
			margin: 0px;
		}
		@media (max-width: 991px) {
			margin-right: 15px;
		}
	}
	&.social_footer {
		.social__item {
			margin-right: 20px;
		}
	}
}
