.blog-area {
	padding: 80px 0 100px 0;
	background: #fff;
}
.blog-item__preview {
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;
	position: relative;
	img {
		transition: $mainTransition;
	}
	&:hover {
		a {
			img {
				transform: scale(1.1);
				transition: $mainTransition;
			}
		}
	}
}
.blog-item {
	.title {
		display: block;

		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 100%;
		color: #000000;

		transition: $mainTransition;
		margin-bottom: 10px;
		&:hover {
			color: $rareColor;
			text-decoration: none;
			transition: $mainTransition;
		}
	}
	.date {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 96.4%;
		color: #8E8E8E;

		display: block;
		margin-bottom: 17px;
	}
	.description {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 100%;
		color: #000000;
	}
}

.blog-slider {
	.blog-slider__item {
		padding: 0 15px;
	}
	.slick-arrow {
		z-index: 2;
		width: 50px;
		height: 50px;
		background: #fff;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
		border-radius: 100%;
		@media (max-width: 991px) {
			width: 40px;
			height: 40px;
		}
	}
	.slick-next:before,
	.slick-prev:before {
		color: #000;
	}
	.slick-next {
		@media (max-width: 1360px) {
			right: 4px;
		}
	}
	.slick-prev {
		@media (max-width: 1360px) {
			left: 4px;
		}
	}
}

.blog, .blog-inner {
	padding: 20px 0 100px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
.blog-inner {
	p {
		font-size: 18px;
		line-height: 120%;
		@media (max-width: 991px) {
			font-size: 14px;
		}
	}
	.blog-item {
		img {
			margin-bottom: 20px;
		}
	}
}
