#product-nav {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.slick-arrow {
		cursor: pointer;
		width: 100%;
		height: 64px;
		border: 1px solid rgba(142, 142, 142, 0.46);
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			width: 18px;
		}
		@media (max-width: 991px) {
			min-width: 64px;
			width: 64px;
		}

	}
	.slick-arrow_prev {
		margin-bottom: 10px;
		svg {
			transform: rotate(-90deg);
			@media (max-width: 991px) {
				transform: rotate(-180deg);
			}
		}
		@media (max-width: 991px) {
			margin: 0px;
		}
	}
	.slick-arrow_next {
		margin-top: 10px;
		svg {
			transform: rotate(90deg);
			@media (max-width: 991px) {
				transform: rotate(0deg);
			}
		}
		@media (max-width: 991px) {
			margin: 0px;
		}	
	}
	.slick-list  {
		padding: 0px!important;
	}
	@media (max-width: 991px) {
		flex-direction: row;
		align-items: center;
	}
}
#product-for {

}
.product {

	.price {
		padding-bottom: 17px;
		.old {
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			text-decoration-line: line-through;
			color: #5C5C5C;
		}
		.new {
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: $rareColor;
		}
	}
	.description {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #8E8E8E;
		margin-bottom: 28px;
	}
	.subtitle {
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		margin-right: 12px;
	}
	.settings {
		td {
			vertical-align: middle;
			padding-bottom: 14px;
		}
	}
	.btn_product {
		border-radius: 15px;
	}
	.nav-pills {
		display: flex;
		margin-right: -15px;
		margin-left: -15px;
		.nav-item {
			flex: 0 0 33.333%;
			max-width: 33.333%;
			padding: 0 15px;
			.nav-link {
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: #000000;
				padding: 8px 10px;
				text-align: center;

				border: 2px solid #F4E6DE;
				border-radius: 15px;

				&.active {
					background-color: #F4E6DE;
				}
			}
			@media (max-width: 991px) {
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 15px;
			}
		}
		@media (max-width: 991px) {
			flex-direction: column;
		}
	}
	.tab-pane {
		table {
			td {
				padding: 20px 0px;
				border-bottom: 1px solid #000;
			}
			tr {
				td {
					&:nth-child(2) {
						padding-left: 15px;
					}
				}
			}
		}
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
