#mini-cart-modal {
	position: fixed;
	z-index: 100;
	top: 0px;
	right: -100%;
	bottom: 0px;
	left: 100%;
	background-color: rgba(0,0,0,0.0);
	transition: $mainTransition;

	display: flex;
	justify-content: flex-end;
	&.show {
		left: 0px;
		right: 0px;
		background-color: rgba(0,0,0,0.5);
		transition: $mainTransition;
	}
	.mini-cart-modal__content {
		background-color: #fff;
		padding: 30px;
		width: 100%;
		max-width: 400px;

		position: absolute;
		z-index: 101;
		top:0px;
		bottom: 0px;
		right: 0px;
		ul {
			padding: 15px 0px;
		}
		li {
			padding: 0px;
			margin: 0px;
		}
		.header-link {
			font-size: 16px;
			line-height: 100%;
			font-weight: bold;
			display: inline-block;

			padding: 15px 0px;
			border-bottom: dashed 1px  #c7c7c7;
		}
		@media (max-width: 640px){
			max-width: unset;
		}
	}
	.mini-cart-modal__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.mini-cart-modal__close {
			cursor: pointer;
			font-size: 18px;
			font-weight: bold;
			line-height: 100%;
			margin: 0px;
			svg {
				margin-right: 10px;
				width: 16px;
			}
		}
		.mini-cart-modal__count {
			.mini-cart {
				&:hover {
					cursor: default;
					svg {
						path {
							fill: #000;
						}
					}
				}
			}
		}
	}
	.mini-cart-modal__final-price {
		font-size: 18px;
		line-height: 100%;
		font-weight: bold;
		color: #000;

		padding: 20px 0px;
		margin-bottom: 20px;
		span {
			margin: 0px;
		}
	}
	.mini-cart-modal__list {
		height: 100%;
		padding-top: 20px;
		max-height: 350px;
		overflow: auto;
		.mini-cart-modal__item {
			display: flex;
			padding-top: 10px;
			margin-right: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #d5d5da;
			.preview {
				display: block;
				min-width: 50px;
				width: 50px;
				margin-right: 20px;
			}
			.title {
				font-size: 16px;
				line-height: 120%;
				color: #000;
				margin-bottom: 20px;
			}
			.price {
				font-size: 16px;
				line-height: 100%;
				color: #000;
			}
		}
	}
	.mini-cart-modal__submit {
		display: block;

		width: 100%;
		text-align: center;
		padding: 20px 10px;
		background-color: #2b2b2b;

		font-size: 18px;
		line-height: 100%;
		color: #fff;
		transition: $mainTransition;
		&:hover {
			text-decoration: none;
			color: $rareColor;
			transition: $mainTransition;
			background-color: #000;
		}
	}

}

#catalog-sidebar-mob {
	position: fixed;
	z-index: 100;
	top: 0px;
	right: 100%;
	bottom: 0px;
	left: -100%;
	background-color: rgba(0,0,0,0.0);
	transition: $mainTransition;

	display: flex;
	justify-content: flex-end;
	&.show {
		left: 0px;
		right: 0px;
		background-color: rgba(0,0,0,0.5);
		transition: $mainTransition;
	}
	.content {
		background-color: #fff;
		padding: 30px;
		width: 100%;
		max-width: 400px;

		position: absolute;
		z-index: 101;
		top:0px;
		bottom: 0px;
		left: 0px;
		@media (max-width: 640px){
			max-width: unset;
		}
	}
	.catalog-sidebar-mob__close {
		cursor: pointer;
		font-size: 18px;
		font-weight: bold;
		line-height: 100%;
		margin: 0px 0px 20px 0px;
		svg {
			margin-left: 10px;
			width: 16px;
		}
	}
}
